---
import "/public/styles/style.css";
---

<div class="about">
  <p class="about-description">
    Hi there! I'm Ashika, hailing from India. My passion lies in crafting web
    apps. Here, I'll be sharing my learning journey, sprinkled with a touch of
    poetry and some life lessons I gather along the way. I hope to capture the
    essence of my beautifully imperfect life through words. Feel free to reach
    out to me anytime at ashikahussain111@gmail.com if you'd like to connect.
    Looking forward to engaging in some meaningful conversations!
  </p>
</div>
