---
import '/public/styles/style.css'
---
<style>
    div{
        display: inline-block;
    }
</style>


<div>
  <p>
    Hey there! I am Ashika from India. There isn't an extraordinary person
    sitting behind this. I am a woman in my mid 20s trying to create a journal
    which I can possibly look at in my 50s or 60s or which can make someone feel
    like oh! there is someone like me out there. You can call this a journal or
    a portfolio or just a notebook. Feel free to connect me through ashikahussain111@gmail.com.
  </p>
</div>
