---
import "/public/styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Ashika Hussain</h1>
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
	</nav>
      <slot />
  </body>
  <footer>Created by Ashika Hussain</footer>
</html>
